html, body{
 margin: 0px;
 padding: 0px;
 font-family: 'Chathura', sans-serif;
 font-size: 12px;
}

.header-container {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
}
.header-logo-container {
 padding: 0px;
 margin: 0px;
 
}
.header-logo {
height: 60px;
}
.menu-list {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.menu-list li a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(22, 22, 44);
}

.hero-container {
  background-color: chocolate;
  height: 200px;
}

.grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div {
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.NATIONS { grid-area: 1 / 1 / 2 / 2; 
}

.Aviation { grid-area: 1 / 3 / 2 / 4; }

.Helicopters { grid-area: 1 / 4 / 2 / 5; }

.Fleet { grid-area: 1 / 5 / 2 / 6; }

.USA { grid-area: 2 / 1 / 3 / 2; }

.Germany { grid-area: 3 / 1 / 4 / 2; }

.USSR { grid-area: 4 / 1 / 5 / 2; }

.Britain { grid-area: 5 / 1 / 6 / 2; }

.Japan { grid-area: 6 / 1 / 7 / 2; }

.China { grid-area: 7 / 1 / 8 / 2; }

.Italy { grid-area: 8 / 1 / 9 / 2; }

.France { grid-area: 9 / 1 / 10 / 2; }

.Sweden { grid-area: 10 / 1 / 11 / 2; }

.aviation-usa { grid-area: 2 / 3 / 3 / 4; }

.Army { grid-area: 1 / 2 / 2 / 3; }

.Army-usa { grid-area: 2 / 2 / 3 / 3; }

.Helicopters-usa { grid-area: 2 / 4 / 3 / 5; }

.Fleet-Usa { grid-area: 2 / 5 / 3 / 6; }

.Army-Germany { grid-area: 3 / 2 / 4 / 3; }

.Aviation-Germany { grid-area: 3 / 3 / 4 / 4; }

.Helicopters-Germany { grid-area: 3 / 4 / 4 / 5; }

.Fleet-Germany { grid-area: 3 / 5 / 4 / 6; }

.Army-USSR { grid-area: 4 / 2 / 5 / 3; }

.Aviation-USSR { grid-area: 4 / 3 / 5 / 4; }

.Helicopters-USSR { grid-area: 4 / 4 / 5 / 5; }

.Fleet-USSR { grid-area: 4 / 5 / 5 / 6; }

.Army-Britain { grid-area: 5 / 2 / 6 / 3; }

.Aviation-Britain { grid-area: 5 / 3 / 6 / 4; }

.Helicopters-Britain { grid-area: 5 / 4 / 6 / 5; }

.Fleet-Britain { grid-area: 5 / 5 / 6 / 6; }

.Army-Japan { grid-area: 6 / 2 / 7 / 3; }

.Aviation-Japan { grid-area: 6 / 3 / 7 / 4; }

.Helicopters-Japan { grid-area: 6 / 4 / 7 / 5; }

.Fleet-Japan { grid-area: 6 / 5 / 7 / 6; }

.Army-China { grid-area: 7 / 2 / 8 / 3; }

.Aviation-China { grid-area: 7 / 3 / 8 / 4; }

.Helicopters-China { grid-area: 7 / 4 / 8 / 5; }

.Fleet-China { grid-area: 7 / 5 / 8 / 6; }

.Army-Italy { grid-area: 8 / 2 / 9 / 3; }

.Aviation-Italy { grid-area: 8 / 3 / 9 / 4; }

.Helicopters-Italy { grid-area: 8 / 4 / 9 / 5; }

.Fleet-Italy { grid-area: 8 / 5 / 9 / 6; }

.Army-France { grid-area: 9 / 2 / 10 / 3; }

.Aviation-France { grid-area: 9 / 3 / 10 / 4; }

.Helicopters-France { grid-area: 9 / 4 / 10 / 5; }

.Fleet-France { grid-area: 9 / 5 / 10 / 6; }

.Army-Sweden { grid-area: 10 / 2 / 11 / 3; }

.Aviation-Sweden { grid-area: 10 / 3 / 11 / 4; }

.Helicopters-Sweden { grid-area: 10 / 4 / 11 / 5; }

.Fleet-Sweden { grid-area: 10 / 5 / 11 / 6; }