html, body {
 margin: 0px;
 padding: 0;
 font-family: 'Chathura', sans-serif;
 font-size: 12px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:"header header header header"
                      "hero hero hero hero"
                      "nationlist nationlist nationlist ationlist";
}
.header-container {
  grid-area: header;
}
.header-logo-container {
 padding: 0;
 margin: 0px;
 max-height: 60px;
 background-color: blanchedalmond;
}
.header-logo {
grid-column: 1fr 1fr 1fr;
height: 60px;
}

.hero-container {
  grid-area: hero;
  background-color: chocolate;
  height: 200px;
}
.main-nations-container {
  grid-area: nationlist;
justify-content: center;
}
.main-nations {
  justify-content: center;
  margin: 0px;
}
.main-nations-list{ 
list-style: none;
margin: 0px;
padding: 0px;
}
.main-nations-list li {
justify-content: center;
}

.main-nations-list a:hover {
color:rgb(92,52,52,1);
box-shadow: 0px 0px 3px 4px rgba(92,52,52,1);
}
.main-nations-container a {
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  border: 1px dotted rgba(0, 0, 0, 0.336);
}



